node_modules
build
.svelte-kit
.output
.vercel
.netlify
.wrangler
.env
.env.*
!.env.example
!.env.test
Dockerfile*
compose*.yml
.git
.vscode
.DS_Store
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
